.iii{
	width:140px;
}
.hhhhh{
	width:45%;
	float:left;
}
.dede p{
	width: 22%;
	float: left;
}
.max-spl{
	width: 100%;
	height: 3px;
	background: #F4A460;
}
.min-spl{
	width: 80%;
	height: 2px;
	background: #00FFFF;
}
