<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.time.entity.Address">
    <id column="adr_id" jdbcType="BIGINT" property="adrId" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    adr_id, u_id, province, city, detail, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where adr_id = #{adrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from address
    where adr_id = #{adrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.time.entity.Address">
    insert into address (adr_id, u_id, province, 
      city, detail, add_time
      )
    values (#{adrId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.time.entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adrId != null">
        adr_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adrId != null">
        #{adrId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.time.entity.Address">
    update address
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where adr_id = #{adrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.time.entity.Address">
    update address
    set u_id = #{uId,jdbcType=BIGINT},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where adr_id = #{adrId,jdbcType=BIGINT}
  </update>
  
   <select id="selectByuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where u_id = #{uId,jdbcType=BIGINT}
  </select>
</mapper>